<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>The smoothest agent in the world saving it from an oversensitve maniac</string>
		<key>MovieInfo</key>
		<array>
			<string>007 Skyfall</string>
			<string>007Skyfall</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Bad ass roman fucking up an entire arena of muthafuckas HE CANT BE STOPPED</string>
		<key>MovieInfo</key>
		<array>
			<string>Gadiator</string>
			<string>Gladiator</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ahhhhhh Shiieeettttt</string>
		<key>MovieInfo</key>
		<array>
			<string>Justice League</string>
			<string>justiceLeague</string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>TItle</key>
		<string>Batman: The Dark Knight</string>
		<key>MovieInfo</key>
		<array>
			<string>Batman: The Dark Knight</string>
			<string>DarkKnight</string>
			<string>Lets be Honest this is the jokers movie not batmans</string>
		</array>
	</dict>
	<dict>
		<key>TItle</key>
		<string>Marvels the Avengers</string>
		<key>MovieInfo</key>
		<array>
			<string>Marvels The Avengers</string>
			<string>avengers</string>
			<string>A whole 2 hours and a half of ass-kicking greatness</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>300</string>
		<key>MovieInfo</key>
		<array>
			<string>300</string>
			<string>300</string>
			<string>THIS IS!!..a mediocre movie at best </string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kingsman: The Secret Service</string>
		<key>MovieInfo</key>
		<array>
			<string>Kingsman: The Secret Service</string>
			<string>kingsman</string>
			<string>This movie has one of the greatest action sequences i have ever seen you&apos;ll watch it over and over again and youll know what i am talking about once you get there </string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Star Wars Episode III: Revenge of the Sith</string>
		<key>MovieInfo</key>
		<array>
			<string>Star Wars Episode III: Revenge of the Sith</string>
			<string>starWarsIII</string>
			<string>The prequels were pretty bad movies but that does not take away from its story..this is the conclucion to one of the best stories told in Human history....WIth a sickass fighting scene at the very end of the movie</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Star Wars Episode 8: The Last Jedi</string>
		<key>MovieInfo</key>
		<array>
			<string>Star Wars Episode 8: The Last Jedi</string>
			<string>SWEpisode7</string>
			<string>The highly anticipated greatness is almost here and i cannot be more excited for i... This is going to be the hollywood event of the past Decade</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>The Lord of The Rings</string>
		<key>MovieInfo</key>
		<array>
			<string>The Lord of The Rings</string>
			<string>lordOfTheRings</string>
			<string>The lord of the rings.....enough said a warm movie stuffed with plenty of action and a great story of resistance and overcoming...Get your family together gather round and watch al 3 of the movies in the trilogy -- just be ready to stay up for a solid 16 hours</string>
		</array>
	</dict>
</array>
</plist>
