<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>This is a pretty funny movie and everbody needs to watch it</string>
		<key>MovieInfo</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>A house is possessed by a ghost and has its way with just about everything</string>
		<key>MovieInfo</key>
		<array>
			<string>A Haunted House</string>
			<string>AhauntedHouse</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>News Anchor on some bull shit as usual</string>
		<key>MovieInfo</key>
		<array>
			<string>Anchorman: The Legend of Ron Burgundy</string>
			<string>Anchorman</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Tities</string>
		<key>MovieInfo</key>
		<array>
			<string>Baywatch</string>
			<string>bayWatch</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Ever dreamed of the perfect party...Take that and multiply it by High School</string>
		<key>MovieInfo</key>
		<array>
			<string>Project X</string>
			<string>Project-X</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>The godfather of parody movies...sit down smoke some weed and enjoy pure raunchy comedic gold</string>
		<key>MovieInfo</key>
		<array>
			<string>Scary Movie</string>
			<string>scary-movie</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Great family comedy..sorta be ready to cry tears of laughter</string>
		<key>MovieInfo</key>
		<array>
			<string>Step Brothers</string>
			<string>stepBrothers</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>A star studded cast of comedic geniuses that throw themselves into the vietnam war...Have fun</string>
		<key>MovieInfo</key>
		<array>
			<string>Tropic Thunder</string>
			<string>tropicThunder</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>If i had to describe my high school experience it would be this movie...</string>
		<key>MovieInfo</key>
		<array>
			<string>Super Bad</string>
			<string>superBad</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Comedic gold for all of the wrong reasons enjoy watching this movie</string>
		<key>MovieInfo</key>
		<array>
			<string>The Hangover</string>
			<string>theHangover</string>
		</array>
	</dict>
</array>
</plist>
