<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>No not Xmen....some over ambitious guy gets a little too ambitious and starts to break some rules</string>
		<key>MovieInfo</key>
		<array>
			<string>Night Crawler</string>
			<string>nightCrawler</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Some Paranormal shit</string>
		<key>MovieInfo</key>
		<array>
			<string>Paranormal Activity</string>
			<string>Paranormal-Activity</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Some kids get kidnapped by some weird ass skitzofrenek....or did they?</string>
		<key>MovieInfo</key>
		<array>
			<string>Prisoners</string>
			<string>prisoners</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>There is a paranormal dimension where some paranormal shit goes down</string>
		<key>MovieInfo</key>
		<array>
			<string>Insidious</string>
			<string>Insidious</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>This white bitch seduces a black man and take him into a racist neighborhood so that he could be abducted and used for a brain transplant</string>
		<key>MovieInfo</key>
		<array>
			<string>Get Out</string>
			<string>getOut</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>A haunted house that possess the mother of every family that decides to live there</string>
		<key>MovieInfo</key>
		<array>
			<string>The Conjuring</string>
			<string>theConjuring</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Clown fucking up some children -- and then they all have naorgy</string>
		<key>MovieInfo</key>
		<array>
			<string>IT</string>
			<string>IT</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Dude with a mask starts killing every teeneager in the movie</string>
		<key>MovieInfo</key>
		<array>
			<string>Friday the 13th</string>
			<string>fridayThe13th</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Humans go out into space and get fucked up by some aliens</string>
		<key>MovieInfo</key>
		<array>
			<string>Aliens</string>
			<string>aliens</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Scary ass movie about some possessed doll</string>
		<key>MovieInfo</key>
		<array>
			<string>Annabelle Creation</string>
			<string>AnnabelleCreation</string>
		</array>
	</dict>
</array>
</plist>
