<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Description</key>
		<string>I jack, I rob, I sin, im jacki robinson except when I steal base I dodge the pen</string>
		<key>MovieInfo</key>
		<array>
			<string>Jacki Robinson Movie</string>
			<string>42Movie</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Crazy what happens when you mix athletics and hollywood</string>
		<key>MovieInfo</key>
		<array>
			<string>Any Given Sunday</string>
			<string>anyGivenSunday</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>One of the best sports movies in recent memory. A great combination of nostalgia and new school swag, cant wait until the sequel</string>
		<key>MovieInfo</key>
		<array>
			<string>Creed</string>
			<string>creed</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Recognized as one of the most inpirational movies in our generation. Nothing comes close to how friday night lights can capture the hearts and attention of its audience</string>
		<key>MovieInfo</key>
		<array>
			<string>Friday Night Lights</string>
			<string>fridayNightLights</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Jesus Shuttlesworth top recruit in basketball is looking for a way to college but has to overcome a dark family past and the struggles of everyday life</string>
		<key>MovieInfo</key>
		<array>
			<string>He Got Game</string>
			<string>heGotGame</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Watch it</string>
		<key>MovieInfo</key>
		<array>
			<string>Hoop Dreams </string>
			<string>hoopDreams</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>A legendary story of a legendary runner. Prefontaine is the most iconic figure in USA track anf Field History and this movie paints the picture of his ascendance and tragic end</string>
		<key>MovieInfo</key>
		<array>
			<string>Prefontaine</string>
			<string>pre</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>The story of a athlete who persisted until he played football for his dream school the University of Notre Dame</string>
		<key>MovieInfo</key>
		<array>
			<string>Rudy</string>
			<string>rudy</string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>Another great improbable come up story highlighting a the life of a future NFL star and what he went through to get to that point</string>
		<key>MovieInfo</key>
		<array>
			<string>The Blind Side </string>
			<string>theBlindSide </string>
		</array>
	</dict>
	<dict>
		<key>Description</key>
		<string>A bunch of convicts trying to play football in order to get out of jail...More of a comedic movie than a sports movie</string>
		<key>MovieInfo</key>
		<array>
			<string>The Longest Yard</string>
			<string>theLongestYard</string>
		</array>
	</dict>
</array>
</plist>
